body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #140f12, #66ccff);
    font-family: 'Arial', sans-serif;
    margin: 0;
}


.calculator {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 320px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    border: 2px solid #2e1a24;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background: #3158e4;
    border: none;
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background: #ff4d94;
}

.button:active {
    background: #ff3385;
}
